@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
    --colore_titoli: #212529; 
    --azzurro: #0088CC
    --dimensione_titolo_secondario: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul, li, menu {
    list-style: none;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

